{% for servicegroup in servicegroups %}
  <ul class="list-group components mt-3">
    <li class="list-group-item list-group-item-success group-name">
      <span>
        <i class="fas fa-folder-open"></i>
      </span>&nbsp;{{ servicegroup.name }}
      <div class="status text-success float-end">Funktionsfähig</div>
    </li>
    {% for service in services|filter(v => v.serviceGroup.id == servicegroup.id) %}
    {{ include('home/_service.html.twig') }}
    {% endfor %}
  </ul>
{% endfor %}