<div>
  <li class="list-group-item sub-component">
    <strong title="Teamspeak-Server für eure Rollenspielrunden">{{ service.name }}</strong>
    <div class="float-end text-{{ service.laststatusclass }}">{{ service.laststatustext }}</div>
  </li>
</div>