{% set title_time_future = 0 %}
{% set title_time_past = 0 %}
{% for status in statuses %}
  {% if date() <= date(status.endtime) %}
    {% if title_time_future < 1 %}
    <h3>Kommende Vorfälle</h3>
    {% endif %}
  {% set title_time_future = (title_time_future + 1) %}
  {% else %}
    {% if title_time_past < 1 %}
    <h3>Vergangene Vorfälle</h3>
    {% endif %}
  {% set title_time_past = (title_time_past + 1) %}
  {% endif %}
  <article class="card border-{{ status.statusclass }} mb-3">
    <div class="card-colore icon bg-{{ status.statusclass }}">
      <i class="fas fa-{{ status.typeid|replace({'0': "check", '1': "info",'2': "exclamation", '3': "times"}) }}"></i>
    </div>
    <div class="card-header bg-{{ status.statusclass }} border-{{ status.statusclass }}">
      {{ status.title }}
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <div class="float-end">
        <form method="post" action="{{ path('status_delete', {'id': status.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ status.id) }}">
            <button class="btn delete"><i class="fa fa-trash"></i></button>
        </form>
      </div>
      {% endif %}
      {% if status.typeid == '1' %}
      <time class="float-end timeago" datetime="{{ status.starttime|format_datetime(pattern="yyyy-MM-dd HH:mm:ss x") }}" title="{{ status.starttime|format_datetime(pattern="dd.MM.yyyy HH:mm:ss", locale='de') }}">
        {% if status.starttime|date("l") == "now"|date('l') %}
          {{ status.starttime|format_datetime(pattern="'Today 'HH:mm", locale='de') }}
          {% elseif ("now"|date("d") - status.starttime|date("d")) == '1' %}vor einem Tag
          {% else %}vor {{ ("now"|date("d") - status.starttime|date("d")) }} Tagen
        {% endif %}
      </time>
      {% else %}
      <time class="float-end timeago" datetime="{{ status.endtime|format_datetime(pattern="yyyy-MM-dd HH:mm:ss x") }}" title="{{ status.endtime|format_datetime(pattern="dd.MM.yyyy HH:mm:ss", locale='de') }}">
        {% if status.endtime|date("l") == "now"|date('l') %}
          {{ status.endtime|format_datetime(pattern="'Today 'HH:mm", locale='de') }}
          {% elseif ("now"|date("d") - status.endtime|date("d")) == '1' %}vor einem Tag
          {% else %}vor {{ ("now"|date("d") - status.endtime|date("d")) }} Tagen
        {% endif %}
      </time>
      {% endif %}
    </div>
    {% if status.text %}
    <div class="card-body">
      <p>{{ status.text|raw }}</p>
    </div>
    {% endif %}
    <div class="card-footer bg-transparent border-{{ status.statusclass }}">
      <p class="card-title">
        Impacted service(s):
        {% if status.typeid == '1' %}
        <span class="float-end">Vorbei:&nbsp;<time class="float-end timeago" datetime="{{ status.endtime|format_datetime(pattern="yyyy-MM-dd HH:mm:ss x") }}" title="{{ status.endtime|format_datetime(pattern="dd.MM.yyyy HH:mm:ss", locale='de') }}">{{ status.endtime|date("l") == "now"|date('l') ? status.endtime|format_datetime(pattern="'Today 'HH:mm", locale='de') : status.endtime|format_datetime(pattern="'am 'eeee HH:mm", locale='de') }}</time></span>
        {% endif %}
      </p>
      <p class="card-badge">
        <span class="badge bg-secondary">GitLab</span>&nbsp;</p>
    </div>
  </article>
{% endfor %}