{% extends 'base.html.twig' %}

{% block title %}Aktueller Status{% endblock %}

{% block body %}
  <main id="status" class="container">
    <div class="text-center">
      <h2>Aktueller Status</h2>
    </div>
    <div id="current">
      <div id="status-big" class="alert-primary">Einige Systeme haben Wartungsarbeiten</div>
      <div id="status-big" class="alert-warning">Einige Systeme haben kleinere Unterbrechungen</div>
      <div id="status-big" class="alert-danger">Einige Systeme haben größere Unterbrechungen</div>
      {{ include('home/_serviceGroup.html.twig') }}
    </div>

    <div id="timeline">
      <div class="item">
        <div class="timeline">
          <div class="line text-muted"></div>
          {{ include('home/_status.html.twig') }}
        </div>
      </div>
    </div>
  </main>
{% endblock %}