<footer id="footerwrap" class="sticky-bottom">
  <div class="container">
    <div class="row centered">
      <div class="col-md-4 text-left">
        <a class="link-light" href="https://codeberg.org/RollenspielMonster/server-status-page" target="_blank" rel="noreferrer nofollow"
          >Copyright © {{ "now"|date("Y")}} Server Status Page
        </a>
      </div>
      <div class="col-md-4 text-center">
        <div class="input-group dropup mb-3">
          <button type="button" class="btn btn-primary" disabled="">🇩🇪 Deutsch</button>
          <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Ein- / Ausklappen</span>
          </button>
          <ul class="dropdown-menu">
            <a href="?lang=de_DE">🇩🇪 Deutsch</a>
            <a href="?lang=en_GB">🇬🇧 English</a>
            <li><hr class="dropdown-divider" /></li>
            <li><a href="" target="”_blank”" rel="”noopener" noreferrer”="">Bei der Übersetzung helfen</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 text-right">
        <a class="link-light" href="{{ path('app_imprint_index') }}">Impressum</a> - 
        <a class="link-light" href="{{ path('app_privacy_index') }}">Datenschutz-Bestimmungen</a>
      </div>
    </div>
  </div>
</footer>