<header class="fixed-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><i class="fas fa-signal"></i></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggler">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link link-light" href="{{ path('admin') }}">Administrator</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item">
              <a class="nav-link link-light" href="{{ path('app_logout') }}">Logout</a>
            </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="subscriberDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Subscribe</a>
              <ul class="dropdown-menu" aria-labelledby="subscriberDropdown">
                <li>
                  <a class="dropdown-item" href="email_subscription&amp;new=1"><span class="glyphicon glyphicon-envelope"></span>&nbsp;Subscribe via email</a>
                </li>
              </ul>
            </li>
            <li class="d-flex">
              <input type="checkbox" class="custom-control-input" id="darkSwitch" hidden="" />
              <label class="nav-link" for="darkSwitch"><i class="fas fa-moon"></i></label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>