{% extends 'base.html.twig' %}

{% block title %}Privacy{% endblock %}

{% block body %}
	<main id="privacy" class="container">
		<div class="text-center">
			<h2>Privacy</h2>
		</div>
    <section>
      {{ privacytext }}
    </section>
	</main>
{% endblock %}
