{% extends 'base.html.twig' %}

{% block title %}Imprint{% endblock %}

{% block body %}
	<main id="imprint" class="container">
		<div class="text-center">
			<h2>Imprint</h2>
		</div>
    <section>
      {{ imprinttext }}
    </section>
	</main>
{% endblock %}
